.row {
    background: linear-gradient(to right top, #9eff99, lightyellow);
}

.split-page {
    margin: 100px 0;
}

.btn-huge {
    padding: 10px 32px;
    font-size: calc(1vw + 10px); /* Makes it responsive */
    line-height: 1.33;
    border-radius: 6px;
}

.call-to-action {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-image {
    height: 400px;
    margin: 0 auto;
}

/** Custom Navbar Colors **/
.navbar {
    max-height: 50px;
}

.navbar-brand > img {
    height: 30px;
    margin-top: -5px;
    font-size: 2em;
}

.navbar-default {
    background-color: #1e78ba;
    border-color: #1a518a;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #00fffb;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #00fffb;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #1e78ba;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #00fffb;
    background-color: #1a518a;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #1a518a;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #00fffb;
    background-color: #1a518a;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #00fffb;
    background-color: #1a518a;
}

.navbar-default .navbar-toggle {
    border-color: #1a518a;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1a518a;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #00fffb;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #00fffb;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #00fffb;
        background-color: #1a518a;
    }
}