body {
    font-family: monospace;
    font-weight: bold;
}

/* original green gradient  #9eff99*/

::-webkit-scrollbar {
    display: none;
}
.row {
    background: linear-gradient(to right top, #9eff99, lightyellow);
    padding-bottom: 25px;
}
.split-page {

    margin: 150px 0;
    padding-left: 125px;
    padding-right: 120px;
}
.container{
    margin-left: 0px;
    
    margin-right: 0px;
    max-width: none;
}
.navbar {
    
    max-height: 50px;
    padding-left: 182px;
    padding-right: 182px;
}
.please{
    font-family: monospace;
    font-weight: bold;
}