body {
}

::-webkit-scrollbar {
    display: none;
}

.rows {
    background: linear-gradient(to left top, #1E78BA, lightyellow);
    min-height: 100vh;
    max-height: 1200px;
    width: 100vw;
    padding: 50px 120px 0 80px;
    margin: -20px 0 0 -15px;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
}