@model IEnumerable<Intex.Models.WorkOrderLine>



<br />
<br />

<h4> Get a Quote </h4>

@Html.DropDownList("AssayID", new SelectList(ViewBag.Assays, "AssayID", "AssayName"), "Select one")
@*Html.DropDownList("CompoundID", new SelectList(ViewBag.Compounds, "CompoundID", "CompoundName"), "Select one")*@
    
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-1">@item.OrderLine</div>
        <div class="col-md-2">@item.Sample.Compound.CompoundName</div>
        <div class="col-md-4">@item.Assay.AssayName</div>
    </div>
}

<p class="btn btn-default">Add Line</p>


<form method="post" action=@Url.Action("Quote", new { })>
    <label>Compound Name: </label>
    <text ></text>
</form>


