@model IEnumerable<Intex.Models.WorkOrderLine>



<br />
<br />

<h4> Get a Quote </h4>



@foreach (var item in Model)
{
    <p>@item.Sample.Compound.CompoundID</p>
    <p>@item.Assay.AssayName</p>
}

<p class="btn btn-default">Add Line</p>


<form method="post" action=@Url.Action("Quote", new { })>
    <label>Compound Name: </label>
    <text ></text>
</form>


