@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/Content/css/homestyle.css" />
</head>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 split-page text-center call-to-action">
        <h1> You can trust our analysis </h1>
        <br />
        <div class="btn btn-huge btn-info">Get a Quote Today</div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 split-page">
        <img class="img-responsive landing-image" src="~/Content/img/vial.png" />
    </div>
</div>